.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.h-space-100px {
  height: 100px;
  width: 100%;
}
.login_register__logo {
  width: 274px;
  height: 200px;
}
