@import "assets/styles/valiable.scss";

.SiderLeft {
  width: $width-slider-desktop;
  & .logo {
    height: 32px;
    margin: 16px;
    background: $background-sider;
    color: white;
    font-weight: bold;
  }
}
